node_modules/
dist/
coverage/
*.log
.DS_Store
*.local
.env
.env.local
.env.*.local
*.tsbuildinfo
test-results.xml
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
~
# Website
website/node_modules/
website/dist/
website/.parcel-cache/
